.header {

  width: 100%; 
  height: 120px;
  padding: 0 60px;
  box-shadow: 0px 8px 10px 0px rgba(9, 9, 55, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff; 
}

.logo {
  width: 60px;
  height: 39px;
  opacity: 1;
  display: flex;
  align-items: center;
}

.inputDefault {
  width: 800px;
  height: 50px;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  background: rgba(244, 244, 255, 1);

}

.inputFocus {
  @extend .inputDefault;
  border: 1px solid rgba(200, 200, 240, 1);
}

.inputActive {
  @extend .inputDefault;
  border: 1px solid rgba(200, 200, 240, 1);
}

.iconContainer {
  display: flex;
  gap: 16px;
}

.icon {
  width: 50px;
  height: 50px;
  background: rgba(244, 244, 255, 1);
  border: none;
  cursor: pointer;
  opacity: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}