.footer {
    background-color: rgba(244, 244, 255, 1);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: rgba(9, 9, 55, 1);
    border-top: 1px solid rgba(200, 200, 240, 1);
}
.socilas {
    display: flex;
    gap: 15px;

    a {
      
        color: rgba(9, 9, 55, 1);;
        font-size: 20px;
        transition: color 0.2 ease;
        

    &:hover{
        color:#0c076f;
    }
    }
}